<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title> </title>

    <link rel="stylesheet" href="/stylesheet.css">

</head>
<body>
<div class="container">
    <h1>Are you sure you want to delete?</h1>

    <form action="/movies/deleteMovie" method="post">
        <input type="hidden" th:field="${movie.id}"/>
        <input type="submit" value="YES" class="button"/>
        <a href="/employees/employees" class="button">NO</a>
    </form>
</div>
</body>
</html>