<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/stylesheet.css">
    <title>Snacks</title>
</head>
<body class="backgroundimage" >

<nav>
    <ul>
        <li class="logo"> <img src="/KinoLogo.png" width="80" height="60"/></li>
        <li class="back"><a href="/customers/movieList">Back</a></li>
    </ul>
</nav>

<div >
<div class="container" >

    <table >

    <thead>
    <tr>

        <th>Name</th>
        <th>Price</th>

    </tr>
    </thead>
    <tbody>
<tr bgcolor="black" th:each="snack : ${snacks}">
    <td th:text="${snack.name}"> </td>
    <td th:text="${snack.price}"> </td>
    </tbody>

</tr>
</table>
</div>
</div>
</body>
</html>