<!DOCTYPE html>
<html>
<head>

    <title>Kino Employee</title>
    <link rel="stylesheet" href="/stylesheet.css">


</head>
<body>

<form action="/employees/login" method="post">

    <div class="container container-login" align="center">

        <h2> Sign in as Employee</h2>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password">

     <p>
         <button type="submit" class="button button-login">Login</button>
     </p>


    </div>


</form>






</body>
</html>